<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/style.css" />
	</head>

	<body style="background-color: #495057">
		<div class="ticketContainer" style="text-align: center">
			<div class="ticket">
				<div class="ticketTitle">Bus Ticket</div>
				<hr />
				<div class="ticketDetail">
					<div style="font-weight: bold"><%= time.toLocaleDateString() %>, <%= time.toLocaleTimeString() %></div>
					<div>From: <span style="font-weight: bold"><%= from %></span></div>
					<div>To: <span style="font-weight: bold"><%= to %></span></div>
					<div>Rs: 50</div>
				</div>
				<div class="ticketRip">
					<div class="circleLeft"></div>
					<div class="ripLine"></div>
					<div class="circleRight"></div>
				</div>
				<div class="ticketSubDetail" style="display: flex; flex-direction: column; justify-content: space-between">
					<div class="code">LO-2314XXX</div>
					<!-- <div class="date">Jan 14<sup>th</sup> 2023</div> -->
					<a
						href="/bus/conductor"
						style="
							padding: 0.5rem;
							margin-top: 1rem;
							background-color: #495057;
							color: aliceblue;
							text-decoration: none;
							border-radius: 1rem;
						"
						>Confirm</a
					>
				</div>
			</div>
			<div class="ticketShadow"></div>
		</div>
	</body>
</html>
