<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ticket Generator</title>
		<link rel="stylesheet" href="/style2.css" />
		<script src="script.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	</head>

	<body style="background-color: #495057; color: white">
		<!-- Navbar start -->
		<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">RideMate</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarNav"
					aria-controls="navbarNav"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/bus/status">Bus Status</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/bus/conductor">Generate Ticket</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="">Generate Ticket</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Navbar end -->
		<div class="container d-flex flex-column justify-content-center align-items-center">
			<h1 class="display-6 mt-3"><u>Ticket Generator</u></h1>

		<form class="lead"  action="/bus/ticket/add/63cbfd902c34a6184c5b3957" method="post">
			<div>
				<div class="elem-group">
					<label for="name">From</label>
					<!-- <input type="text" id="name" name="visitor_name" placeholder="John Doe" pattern=[A-Z\sa-z]{3,20} required> -->
					<select id="name" name="from" >
                        <% for(let i=0; i<bus.stations.length; i++) {%>
                            <option value="<%= bus.stations[i].name %>" ><%= bus.stations[i].name %></option>
                        <% } %>
					</select>
				</div>
				<div class="elem-group">
					<label for="email">To</label>
					<select id="name" name="to">
                        <% for(let i=0; i < bus.stations.length; i++) { %>
                            <option value="<%= bus.stations[i].name %>" > <%= bus.stations[i].name %> </option>
                        <% } %>
					</select>
				</div>

				<div class="elem-group inlined">
					<label for="child">No. of passenger</label>
					<input type="number" id="child" name="noOfPeople" placeholder="" min="0" required />
				</div>
			</div>
			<button type="submit">Book Ticket</button>
		</form>
	</div>

		<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
		crossorigin="anonymous"
	></script>
	</body>
</html>
